<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @result.filename %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @result.content_type %>
</p>

<p>
  <strong>File contents:</strong>
  <%= @result.file_contents %>
</p>

<p>
  <strong>Project:</strong>
  
  <%= @result.task.project.name %>
  <%= @result.task.project.id %>
  
</p>

<p>
  <strong>Task:</strong>
  <%= @result.task.id %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
