<script src="/assets/<%=@project.js_filename%>"></script>

<p id="notice"><%= notice %></p>

<p>
  <strong>Você está na página do projeto: </strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |

<%= link_to 'Back', projects_path %>